{% extends "base.html" %}
{% block title %} Recommend IceCream {% endblock %}
{% block style %}
.form-yes-or-no {
    text-align: center;
}
.form-yes-or-no ul {
    list-style-type: none;
}
.form-yes-or-no li {
    display: inline;
}
{% endblock %}

{% block content %}
        {{ user_name }}さん、レビューありがとうございます。
        こちらがおすすめのアイスクリームです。
        <div class="row">
            {% for icecream in icecreams %}
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-body d-block mx-auto">
                        <img src="/static/images/{{icecream}}.png" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
		<a class="btn btn-primary stretched-link" href="/">レビュー画面に戻る</a>

{% endblock %}
